<div id="posts">
 <div id="us">
   <h2>Kim jesteśmy i czym się zajmujemy?</h2>
   <p><strong>WebMuses to społeczność kobiet zafascynowanych branżą IT.</strong><br/>
  Interesuje nas wszystko co związane z technologią,
od programowania po design.</p>
<p>Chcemy dzielić się pasją, zachęcać, inspirować – siebie i innych (panów także!). Zapraszamy na warsztaty, spotkania, prezentacje i wspólne kodowanie,
zawsze w pełnej pozytywnej energii atmosferze. </p>
  </div>
  <div id="sponsors">
    <h2>Sponsorzy</h2>
    <%= render collection: @sponsors, partial: "partners/partner" %>
  </div>
  <div id="partners">
    <h2>Partnerzy</h2>
    <%= render collection: @partners, partial: "partners/partner" %>
  </div>
</div>

<aside>
  <div class="icons">
    <a href="http://twitter.com/webmuses" id="twitter_icon" target="_blank" title="@webmuses na Twitterze"></a>
    <a href="http://facebook.com/webmuses" id="facebook_icon" target="_blank" title="Webmuses na Facebooku"></a>
    <a href="http://gplus.to/webmuses" id="gplus_icon" target="_blank" title="Webmuses na Google+"></a>
    <a href="/newsletter" id="newsletter_icon" target="_blank" title="Newsletter"></a>
  </div>
  <div class="clear">&nbsp;</div>
  <div>
    Napisz do nas:&nbsp;
    <a href="mailto:webmuses@gmail.com" id="mail_link">webmuses@gmail.com</a>
  </div>
  <% if @current_events.present? %>
    <div id="upcoming_events" class="box">
      <h3 class="strip"><a href="/wydarzenia">Nadchodzące wydarzenia</a></h3>
      <div class="inside">
        <%= render partial: "events/event", collection: @current_events %>
      </div>
    </div> <!-- upcoming events -->
  <% end %>
  <% if @past_events.present? %>
    <div id="past_events" class="box">
      <h3 class="strip"><a href="/wydarzenia">Co już było?</a></h3>
      <div class="inside">
        <%= render partial: "events/event", collection: @past_events %>
      </div><!-- inside -->
    </div> <!-- past events -->
  <% end %>
</aside>
<%= render partial: "layouts/social" %>
