<div id="posts">
 <div id="us">
   <h2><%= t 'home.headline' %></h2>
   <p>
     <strong><%= t 'home.subtext' %></strong><br/>
     <%= t 'home.text_1' %>
   </p>
   <p>
     <%= t 'home.text_2' %>
   </p>
  </div>
  <div id="sponsors">
    <h2><%= t 'home.sponsors' %></h2>
    <%= render collection: @sponsors, partial: "partners/partner" %>
  </div>
  <div id="partners">
    <h2><%= t 'home.partners' %></h2>
    <%= render collection: @partners, partial: "partners/partner" %>
  </div>
</div>

<aside>
  <div class="icons">
    <a href="http://twitter.com/webmuses" id="twitter_icon" target="_blank" title="@webmuses - Twitter"></a>
    <a href="http://facebook.com/webmuses" id="facebook_icon" target="_blank" title="Webmuses - Facebook"></a>
    <a href="https://plus.google.com/109145585852338942294" rel="publisher" id="gplus_icon" target="_blank" title="Webmuses - Google+"></a>
    <a href="/newsletter" id="newsletter_icon" target="_blank" title="Newsletter"></a>
  </div>
  <div class="clear">&nbsp;</div>
  <div>
    <%= t 'home.write' %>
    :&nbsp;
    <a href="mailto:webmuses@gmail.com" id="mail_link">webmuses@gmail.com</a>
  </div>
  <% if @current_events.present? %>
    <div id="upcoming_events" class="box">
      <h3 class="strip"><a href="/wydarzenia"><%= t 'home.coming_up' %></a></h3>
      <div class="inside">
        <%= render partial: "events/event", collection: @current_events %>
      </div>
    </div> <!-- upcoming events -->
  <% end %>
  <% if @past_events.present? %>
    <div id="past_events" class="box">
      <h3 class="strip"><a href="/wydarzenia"><%= t 'home.past_event' %></a></h3>
      <div class="inside">
        <%= render partial: "events/event", collection: @past_events %>
      </div><!-- inside -->
    </div> <!-- past events -->
  <% end %>
</aside>
<%= render partial: "layouts/social" %>
