<h1>Listing muses</h1>

<table class="formatted">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Twitter</th>
    <th>Visible?</th>
    <th></th>
  </tr>

<% @muses.each do |muse| %>
  <tr>
    <td><%= link_to muse.name, [:admin, muse] %></td>
    <td><%= muse.title %></td>
    <td><%= muse.twitter %></td>
    <td><%= muse.visible %></td>
    <td><%= link_to 'Edit', edit_admin_muse_path(muse) %></td>
  </tr>
<% end %>
</table>

<br />

