<div class="box event-box" style="background-image: url('<%= raw event.place.icon %>')">
  <h3 class="strip">
    <a target="_blank" href="<%= event.fb_url %>"><%= raw event.name %></a>
  </h3>
  <div class="inside">
    <div class="event">
      <h3><%= raw event. headline %></h3>
      <p>
        <b><%= t 'events.when' %>:</b>
        <%= raw event.date_description %>
      </p>
      <p>
        <b><%= t 'events.where' %>:</b>
        <%= raw event.address %>
      </p>
      <% if event.has_price? %>
        <p>
          <b><%= t 'events.price' %>:</b>
          <%= raw event.price %>
        </p>
      <% end %>
      <% if event.registration_url.present? and event.current? %>
        <p>
          <b><%= t 'events.registration' %></b>:
          <%= link_to event.registration_url, event.registration_url, target: "blank" %>
        </p>
      <% end %>
      <% if event.fb_url.present? %>
        <p>
          <b><%= t 'events.more' %>:</b>
          <%= link_to t('events.info'), event.fb_url, target: "blank" %>
        </p>
      <% end %>
    </div><!-- event -->
  </div><!-- inside -->
</div><!-- box -->
