<div class="muse coach <%= "last" if (coach_counter+1)%3 == 0 %>">
  <div>
    <%= link_to image_tag(coach.photo), coach.url, target: "blank" %>
    <h3><%= raw(coach.name) %></h3>
    <h5 class="twitter"><%= twitter_link(coach.twitter) %></h5>
    <h4></h4>
    <%= simple_format(raw(coach.description)) %>
  </div>
</div>
<% if (coach_counter%3) == 2%>
  <div class="dotted"></div>
<% end %>
