<div class="clear"></div>
<br/>
<h2>Gdzie nas znaleźć?</h2>

<div class="social-box">
  <h3 class="strip twitter">
    <a href="http://twitter.com/webmuses" target="_blank">
     Twitter
    </a>
  </h3>
  <a class="twitter-timeline" width="300" height="250" data-dnt="true" href="https://twitter.com/webmuses" data-widget-id="346692806242336769">
  Tweets by @webmuses
  </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="social-box">
  <h3 class="strip facebook">
    <a href="http://www.facebook.com/webmuses" target="_blank">Facebook</a>
  </h3>
  <div class="fb-like-box" data-href="http://www.facebook.com/webmuses" data-width="300" data-show-faces="true" data-border-color="#1cbcaf" data-stream="false" data-header="false"></div>
</div>
<div id="newsletter" class="social-box last">
  <h3 class="strip"><%= t 'home.more_about_us' %></h3>
  <div class="inside">
    <p><%= t 'home.newsletter_1' %></p>
    <p><a href="/newsletter" target="_blank"><%= t 'home.newsletter_2' %></a></p>
    <p><%= t 'home.media_1' %></p>
    <p><a href="/articles"><%= t 'home.media_2' %></a></p>
 </div> <!-- inside -->
</div><!--newsletter-->
